<mat-card>
  <mat-card-title>The weather app</mat-card-title>
  <mat-card-subtitle>The first one the world has ever seen</mat-card-subtitle>
  <mat-card-content>
    <input matInput placeholder="Search for a location" value="">
  </mat-card-content>
  <mat-card-actions>
      <button mat-button>Search</button>
      <button mat-button>Add location</button>
    </mat-card-actions>
  <mat-card-footer><p>Uses the <a href="https://www.metaweather.com/api/" target="_blank">MetaWeather.com</a> API. Thanks a lot!</p></mat-card-footer>
</mat-card>


<mat-divider></mat-divider>


<mat-card>
    <mat-card-title>LocationName</mat-card-title>
    <mat-card-subtitle>The first one the world has ever seen</mat-card-subtitle>
    <mat-card-content>
      weather_state
      temp
      wind
      air
      humidity
      visiblity
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Share</button>
        <button mat-button>Comment</button>
    </mat-card-actions>
  </mat-card>
